@import url("../../.cache/hellwal/waybar-colors.css");

@keyframes ping {
    0% {
        background-color: @background;
    }
    50% {
        background-color: @color6;
    }
    100% {
        background-color: @background;
    }
    
}