@import "animation.css";
@import url("../../.cache/hellwal/waybar-colors.css");

* {
  font-family: "Symbols Nerd Font", "JetBrainsMono Nerd Font", monospace;
  font-size: 18px;
  border-radius: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

/* CONTAINER */
#toolbox,
#workspaces,
#taskbar,
#clock,
#monitors,
#pulseaudio,
#battery,
#network,
#language {
  background-color: @background;
  border: 2px solid @foreground;
  border-top: 0;
  border-bottom-right-radius: 15;
  border-bottom-left-radius: 15;
}

#taskbar.empty {
  background-color: transparent;
  border: 2px solid transparent;
  border-top: 0;
  border-bottom-right-radius: 15;
  border-bottom-left-radius: 15;
}

#toolbox,
#workspaces,
#taskbar {
  margin-left: 10px;
}

#monitors,
#pulseaudio,
#battery,
#network,
#language {
  margin-right: 10px;
}

/* ELEMENT */
#custom-powermenu,
#custom-firefox,
#custom-wofi,
#custom-filemanager,
#custom-terminal,
#workspaces button,
#taskbar button,
#clock,
#custom-lapmonitor,
#custom-outmonitor,
#pulseaudio,
#battery,
#network,
#language {
  padding-left: 10px;
  padding-right: 10px;
  color: @foreground;
  background-color: @background;
  border-top: 2px solid @background;
  border-bottom-right-radius: 15;
  border-bottom-left-radius: 15;
}

#custom-powermenu:hover,
#custom-firefox:hover,
#custom-wofi:hover,
#custom-filemanager:hover,
#custom-terminal:hover,
#workspaces button:hover,
#taskbar button:hover,
#clock:hover,
#custom-lapmonitor:hover,
#custom-outmonitor:hover,
#pulseaudio:hover,
#battery:hover,
#network:hover,
#language:hover {
  background-color: @color8;
  border-top: 2px solid @color4;
}

/* ANIMATION */
@keyframes ping {
    0% {
        background-color: @background;
    }
    50% {
        background-color: @color6;
    }
    100% {
        background-color: @background;
    }
}

/* LEFT */
/* workspaces */
#workspaces button.active {
  padding-left: 20px;
  padding-right: 20px;
  background-color: @color8;
  border-top: 2px solid @color4;
}

#workspaces button.urgent {
  animation: 1.5s ping linear infinite;
}

/* taskbar */
#taskbar button.active {
  padding-left: 20px;
  padding-right: 20px;
  background-color: @color8;
  border-top: 2px solid @color4;
}

/* CENTER */

/* RIGHT */

