* {
    surface: {{colors.surface.default.hex}};
    surfaceRaised: {{colors.surface_container.default.hex}};
    active: {{colors.primary.default.hex}};

    textSurface: {{colors.on_surface.default.hex}};
    textAccent: {{colors.primary_container.default.hex}};
}