@define-color background #0e0a09;
@define-color foreground #ffd5be;
@define-color cursor #ffd5be;
@define-color border #ffd5be;

@define-color color0 #0e0a09;
@define-color color1 #5d3432;
@define-color color2 #674039;
@define-color color3 #775238;
@define-color color4 #895f57;
@define-color color5 #9a5c56;
@define-color color6 #8a7675;
@define-color color7 #db9f8e;
@define-color color8 #3d2b25;
@define-color color9 #74413e;
@define-color color10 #805047;
@define-color color11 #946646;
@define-color color12 #ab766c;
@define-color color13 #c0736b;
@define-color color14 #ac9392;
@define-color color15 #ffd5be;
