@define-color background #04020e;
@define-color foreground #f94cff;
@define-color cursor #f94cff;
@define-color border #f94cff;

@define-color color0 #04020e;
@define-color color1 #2d024a;
@define-color color2 #53047e;
@define-color color3 #2b1b60;
@define-color color4 #45166e;
@define-color color5 #4b1b69;
@define-color color6 #473783;
@define-color color7 #ba39d2;
@define-color color8 #11083a;
@define-color color9 #38025c;
@define-color color10 #67059d;
@define-color color11 #352178;
@define-color color12 #561b89;
@define-color color13 #5d2183;
@define-color color14 #5844a3;
@define-color color15 #f94cff;
